html, body {
	background: #fff;
	color: #2e2e2e;
	margin: 0;
	padding: 0;
  background-image: url("./assets/pattern.svg");
}

.container {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	height: 100%;
	margin: 0 auto;
	max-width: 1280px;
	width: 80%;
}

.container {

}

section, footer {
	display: inline-block;
	width: 100%;
}

h1 {
	color: #2e2e2e;
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 7px;
	margin-bottom: 10px;
	margin: 0;
}

h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 0;
}

h3 {
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

a {
	color: #2e2e2e;
	text-decoration: none;
}

a:hover {
  color: #FF1053;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

li {
	font-size: 16px;
	padding-bottom: 16px;
}

/* Header
/*-----------------------*/
header {

}

.info {
	padding-top: 200px;
}

.avatar {
	height: 164px;
	padding-bottom: 20px;
	width: 106px;
}

.social li {
	display: inline;
	font-size: 12px;
	letter-spacing: 2px;
}

.social li a {
	color: #2e2e2e;
}

.social li a:hover {
	color: #FF1053;
}

.social span {
	padding: 0 20px;
}

/* Work
/*-----------------------*/
.work {
	margin: 75px 0 75px 0;
}

.work a {
	color: #2e2e2e;
}

.work a:hover {
	color: #FF1053;
}

.work span {
	font-style: italic;
	font-size: 12px;
	padding-left: 15px;
}

.project {
  margin-top: 40px;
}

.proj-container {
  display: flex;
}

.proj-detail {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-header {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.proj-desc {
  text-align: left;
  margin: 0;
  padding: 5px;
  padding-left: 10px;
}

.skill-icon {
  height: 100px;
  width: 80px;
}

#postgres {
  height: 64px;
  width: 64px;
}

/* About
/*-----------------------*/
.about {
  margin-left: 10%;
	margin-bottom: 30px;
}

.about p {
	color: #2e2e2e;
	font-size: 16px;
	line-height: 22px;
}

.about span {
	font-weight: 600;
}

.bio {
	width: 80%;
	text-align: justify;
}

/* Footer
/*-----------------------*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
	border-top: 1px solid #2e2e2e;
	font-size: 12px;
	margin: 25px auto 25px auto;
	padding-top: 20px;
}

.foot-tag-line {
  margin-left: 50px;
  margin-right: 50px;
}

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) {
	.avatar {
		width: 66px;
		height: 100px;
	}

	h1 {
		font-size: 50px;
	}

	h1 span {
		display: block;
	}

	.social span {
		padding: 0 4px;
	}

	.bio {
		width: 100%;
	}
}

@media (max-width: 640px) and (orientation:landscape) {
	.info {
		padding-top: 100px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 90%;
	}

	.info {
		padding-top: 100px;
	}

	.social span {
		padding: 0 4px;
	}
}
